.Col {
    min-height: 300px;
    max-width: 600px;
    width: 200px;
    height: 600px;
    margin-right: 12px;
    border-radius: 15px;
    background-color: rgb(215, 232, 250);
    box-shadow: 1px 3px 10px rgb(0 0 0 / 0.2);
}

.Col-title {
    width: 100%;
    height: 6%;
    background-color: rgb(255, 246, 246);
}

.Col-day-name {
    margin-left: 4px;
    font-size: 18px;
    margin-top: 0;
    border-radius: 15px;
}

.Col-day {
    margin-left: 8px;
    margin-top: 4px;
    color: rgb(117, 6, 182);
}

.Col-day-week {
    margin-top: 4px;
    margin-left: 8px;
}